<%= form_with scope: :tasks, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
   
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :text %>
    </p>

    <p>
      <%= form.label :status %><br>
      <%= form.text_area :text %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>