<%
=begin%>
 <div class="nested-fields">
    <%= f.hidden_field :_destroy %>
   
    <div>
        <%= f.label :place %>
        <%= f.text_field :location %>
    </div>

</div>

 
<%
=end%>








<%
=begin%>
 
    <%= f.hidden_field :_destroy %>
    
    <div>
        <%= f.label :Place %>
        <%= f.text_field :Place %>
    </div> 
<%
=end%>


